# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "20aa65eb5b540f111f01cbd822a81a18"
name = "DealsCrafter by Improving"
handle = "deals-crafter-prod"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_metaobjects,read_products,write_cart_transforms,write_discounts,write_discounts_allocator_functions,write_metaobject_definitions,write_metaobjects,write_products,read_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]

[pos]
embedded = false

